main {
    margin-top: 7em;
    margin-bottom: 1em;
    padding-left: 50px;
    padding-right: 50px;
}

#intro-wrapper,
#skills-wrapper,
#lang-wrapper,
#hobbies-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#parent-aboutme {
    display: flex;
    height: 100%;
    width: 100%;
    column-gap: 10px;

}

#left, #right {
    width: 100%;
    padding: 1em;
    padding-left: 2em;
    background-color: rgb(19, 19, 19);
    border-left: 4px solid #ED7D31;
}

#top-left p {
    font-size: 1.2em;
}

#mid-left {
    align-content: center;
}

#hobbies-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 30em;
    row-gap: 1em;
    column-gap: 1em;
    justify-items: center;
    align-items: center;
    padding: 1em;
}

.hobby {
    background-color: transparent;
    color: white;
    height: 8em;
    width: 8em;
    text-align: center;
    padding: 1em;
    border-radius: 100%;
    border: 2px #ED7D31 solid;
}

svg {
    width: 3.5em;
}

/* SKILLS AND LANGUAGES */

#skills-container,
#lang-container {
    color: white;
    width: 70%;
    background-color: rgb(19, 19, 19);
    padding: 2em;
    border: #ED7D31 2px solid;
    border-radius: 10px;
}

/* Progression bars styling */
.progress-div {
    text-align: left;
    position: relative;
}

progress {
    width: 100%;
    height: 4px;
    -webkit-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: #3b3b3b;
    border-radius: 15px;
    overflow: hidden;
}

progress::-webkit-progress-value {
    border-radius: 8px;
}

progress::-webkit-progress-value {
    background-color: #ED7D31;
}


/* RIGHT SIDE OF ABOUT ME PAGE */

#experiences-wrapper, #education-wrapper{
    padding-left: 2em;
}

#experiences h2, #education h2{
    text-decoration: underline #ED7D31;
}

#final-grade{
    text-decoration: underline #ED7D31 2px;
}

.experiences, .educations{
    border-bottom: 2px solid #ED7D31;
    margin-right: 4em;
}