main {
    margin: 20px;
    margin-top: 80px;
    margin-bottom: 124px;
    height: 100%;
}

.cv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-container {
    display: grid;
    width: 60em;
}

.cvinfo {
    padding: 1em;
    background-color: rgb(19, 19, 19);
    margin-bottom: 10px;
    margin: 30px;
    margin-bottom: 0;
}

.cv-wrapper {
    margin: 30px;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.cv-header {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(19, 19, 19);
}

hr {
    border: 0;
    border-top: 2px #ED7D31 solid;
    width: 100%;
}

.hr-2x {
    border: 0;
    border-top: 4px #ED7D31 solid;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.info-top {
    display: flex;
}

.info {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.cv-body {
    background-color: white;
    padding: 20px;
}

.info-body {
    background-color: white;
    color: black;
}

.h1-title {
    margin: 0;
}

.content-text {
    font-size: 17px;
}

table {
    width: 100%;
    border: 1px black solid;
}

.thead {
    background-color: lightblue;
}

.tbody {
    background-color: lightgray;
    height: 3em;
    justify-content: center;
    text-align: center;
}

.post-cv {
    margin: 0;
    padding: 3px;
    text-align: center;
    border-top: #ED7D31 2px solid;
    background-color: rgb(19, 19, 19);
}

.vl {
    width: 50%;
    border-right: 2px solid #ED7D31;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.download-cv {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.download-cv-parent{
    vertical-align: middle;
    width: 40em;
    height: 10em;
    background-color: rgb(19, 19, 19);
}

.download-text{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.button-parent{
    display: flex;
    justify-content: center;
}

.svg-download {
    margin: 50px;
    height: 4em;
}

.texto {
    font-size: 20px;
    text-align: center;
}

.txt_contacts{
    text-align: center;
}

.bottxt-parent{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.bottxt-child{
    width: 40em;
    height: 10em;
    padding-top: 3em;
    background-color: rgb(19, 19, 19);
}

#cv-email{
    background-color: black;
    color: black;
    transition: 1000ms;
}

#cv-email:hover{
    background-color: transparent;
    color: white;
}
