.intro-parentDiv,
.info-parentDiv,
.hobbies-parentDiv,
.lang-parentDiv {
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
}

main {
    padding-left: 50px;
    padding-right: 50px;
}

.txtName {
    font-size: 100px;
    margin-bottom: 0;
    text-align: left;
    margin: 0;
}

.txtIntro-1{
    font-size: 30px;
    margin: 0;
    text-align: left;
}

.txtIntro-2 {
    margin: 0;
    font-family: sourcecodepro;
    text-align: left;
}

.intro-childDiv-left {
    width: 100%;
    height: 18em;
    align-content: center;
    justify-content: left;
    padding-left: 10px;
    border-left: 7px #ED7D31 solid;
}

.contacts{
    border: 0;
    display: flex;
    align-items:flex-start;
}

.intro-parentDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.intro-childDiv-right {
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
}

.intro-childDiv-right img{
    border-radius: 100%;
    border: 7px #ED7D31 solid;
}